@model RegisterViewModel
@*@using MyGlucoseDotNetCore.Services.Interfaces*@
@*@inject IApplicationUserRepository assignRole*@
@*@inject UserManager<IdentityUser> UserManager*@
@{
    ViewData[ "Title" ] = "Register";
}

<h2>@ViewData[ "Title" ]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h1>Create a new account</h1>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Role" style="font-size: 18px;" class="control_label"></label><br />
                @for( int i = 0; i < Model.AllRoles.Count(); i++ )
                {
                    @Html.Label( Model.AllRoles[ i ].Name )
                    if( i == 0 )
                    {
                        <input asp-for="Role" type="radio" value="@Model.AllRoles[i].Name" checked="checked" />
                    }
                    else
                    {
                        <input asp-for="Role" type="radio" value="@Model.AllRoles[i].Name" />
                    }
                    @*<input asp-for="@role.Name" type="hidden" />*@
@:&nbsp;
                }

            </div>

            <span asp-validation-for="Role" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Email" style="font-size: 18px;" c></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" style="font-size: 18px;" c></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" style="font-size: 18px;" c></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync( "_ValidationScriptsPartial" )
}
