@model IEnumerable<MyGlucoseDotNetCore.Models.GlucoseEntries>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PatientUsername)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Measurement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BeforeAfter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WhichMeal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Timestamp)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Measurement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeforeAfter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhichMeal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
